<div class="row">
  <h2>Edit profile</h2>
  <div class="large-12 columns">
    <%= form_tag(controller: "home", action: "update") do %>
    <%= text_field_tag :login, nil, placeholder: "Login", class: "large-12" %>
    <%= email_field_tag :email, nil, placeholder: "E-mail", class: "large-12" %>
    <%= password_field_tag :password, nil, placeholder: "Password", class: "large-12" %>
    <%= submit_tag "Save", class: "button expand" %>
    <% end %>
  </div>
</div>
