<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown right small-12 large-1 columns">
  <%= @result[:login] %>
</button><br>
<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
  <li><%= link_to "Edit profile", settings_path %></li>
  <li><%= link_to "Logout", logout_path %></li>
</ul>

<div class="row">
  <div class="large-7 large-centered columns">
    <%= image_tag "logo.png" %>
  </div>
</div>

<div class="pannel callout small-8 small-centered columns">
  "Meetable est une solution permettant d’améliorer les réunions. Elle se compose d’un ordinateur connecté à un projecteur qui affiche des informations sur une table quelconque. Chacun peut intéragir dans la réunion grâce à la reconnaissance de mouvements. En cas d’absence, la réunion peut être suivi depuis un smartphone."
</div>
