<div class="row">
  <div class="large-7 large-centered columns">
    <%= image_tag "logo.png" %>
  </div>
</div>

<div class="row">
  <div class="large-6 large-centered columns">
    <div class="login-box">
      <div class="row">
	<div class="large-12 columns">
	  <%= form_tag(controller: "login", action: "create") do %>
	  <%= text_field_tag :login, nil, placeholder: "Login", class: "large-12" %>
	  <%= password_field_tag :password, nil, placeholder: "Password", class: "large-12" %>
	  <%= submit_tag "Login", class: "button expand" %>
	  <% end %>
	  <%= link_to "Sign Up", signup_path, class: "right" %>
	</div>
      </div>
    </div>
  </div>
</div>
