
body {
  background: #F0F0F3;
}

ul.menu {
    margin-right: 5px;
    background: #333333;
    list-style: none;
    margin: 0;
    width: 12%;
    height: 100%;
    box-shadow: 0px 0px 8px #000000;
}

.page {
    padding: 0;
}

.menu {
    position: fixed;
    margin-right: 5px;
    padding: 0;
    float: left;
}

.menu .button {
    margin-bottom: 3px;
    width: 100%;
    font-size: 17px;
    box-shadow: 0px 1px 0px #656565;
}

h2 {
   color: #2c3e50;
}

.list-button {
   margin-bottom: 1px;
}