// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  padding: 40px 20px 0 20px;
}