<div class="row">
  <div class="large-12 large-centered columns">
    <div class="large-4 large-centered columns">
      <%= link_to "Create an organization", organizations_new_path, class: "button large-12 columns" %>
    </div>
    <div class="large-8 large-centered columns">
      <% @organizations.each do |organization| %>
      <%= link_to organization['name'], "#{organizations_path}/#{organization['id']}", class: "button midnight large-12 columns list-button" %>
      <% end %>
    </div>
  </div>
</div>
