<div class="row">
  <h2>Create organization</h2>
  <div class="large-12 columns">
    <%= form_tag(controller: "organizations", action: "create") do %>
    <%= text_field_tag :name, nil, placeholder: "Name", class: "large-12" %>
    <%= text_field_tag :description, nil, placeholder: "Description", class: "large-12" %>
    <%= submit_tag "Create", class: "button expand" %>
    <% end %>
  </div>
</div>
