<div class="hide-for-large-up">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Meetable</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Organizations", root_path %></li>
	<li><%= link_to "Meetings", root_path %></li>
	<li class="active"><%= link_to "Logout", logout_path %></li>
      </ul>
    </section>
  </nav>
</div>

<ul id="mymenu" class="show-for-large-up large-2 columns menu vertical">
  <li><%= link_to "Home", root_path, class: "button midnight" %></li>
  <li><%= link_to "Organizations", organizations_path, class: "button midnight" %></li>
  <li><%= link_to "Meetings", root_path, class: "button midnight" %></li>
  <li><%= link_to "Logout", logout_path, class: "button" %></li>
</ul>
