<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Meetable" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if !session[:auth_token].nil? %>
    <div class="large-12 columns page">
      <%= render 'layouts/menu' %>
      <div class="large-10 columns">
	<%= render 'layouts/flash' %>
	<%= yield %>
      </div>
    </div>
    <% else %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <% end %>
  </body>
</html>
